<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='ja' lang='ja'>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="shortcut icon" type="image/x-icon" href="<%= CFG[:static_url] %>favicon.ico" />
	<link rel="stylesheet" type="text/css" href="<%= CFG[:static_url] %>css/main.css" />
	<link rel="stylesheet" type="text/css" href="<%= CFG[:static_url] %>css/2cols_side-width-fixed.css" />
	<script type="text/javascript" charset="utf-8" src="<%= CFG[:static_url] %>js/webtoolkit.sha1.js"></script>
	<script type="text/javascript" charset="utf-8" src="<%= CFG[:static_url] %>js/jquery.js"></script>
	<script type="text/javascript" charset="utf-8" src="<%= CFG[:static_url] %>js/jsdeferred.jquery.js"></script>
	<script type="text/javascript" charset="utf-8" src="<%= CFG[:static_url] %>js/utils.js"></script>
	<script type="text/javascript" charset="utf-8" src="<%= CFG[:static_url] %>js/account_profile.js"></script>
	<title><%= h account_name %> さんのアカウント設定 - Tenco!</title>
	<script type="text/javascript">
//<![CDATA[ 
	
// ロード時実行
$(document).ready(
	function(){
	
		// 現在のプロフィール取得ボタンに実行関数を紐付け
		$("#get_profiles").click(
			function() {
				var account_password = $("#account_password").val();
				if (account_password != "") {
					get_profiles('<%= h account.name %>', SHA1(account_password));
				}
			}
		);
		
		// 登録ボタンに実行関数を紐付け
		$("#add_profile").click(
			function() {
				var account_password = $("#account_password").val();
				if (account_password != "") {
					add_profile(
						'<%= h account.name %>',
						SHA1(account_password),
						{
							name:  $("#property_name").val(),
							display_name: $("#property_name option:selected").text(),
							value: $("#property_value").val(),
							uri:   $("#property_uri").val(),
							visibility: $("#property_visibility").attr("checked") ? "1" : "0"
						}
					);
				}
			}
		);
		// パスワード入力欄でエンターでも実行
		$("#account_password").keyup(
			function(evt) {
				if (evt.which == 13) {
					$("#get_profiles").click();
				}
			}
		);
		
		// 設定更新ボタンに実行関数を紐付け
/*		$("#update_settings").click(
			function() {
				var account_password       = $("#account_password").val();
				var new_mail_address       = $("#new_mail_address").val();
				var new_account_password   = $("#new_account_password").val();
				var new_show_ratings_flag  = $("input[name='new_show_ratings_flag']:checked").val();
				var new_allow_edit_profile = $("input[name='new_allow_edit_profile']:checked").val();
				var lock_version           = $("#lock_version").val();
				update_account_settings('<%= h account.name %>', SHA1(account_password), new_mail_address, new_account_password, new_show_ratings_flag, new_allow_edit_profile, lock_version);
			}
		);
*/

		// テキスト入力欄に全テキスト選択
		$("input[type='text']").focus(function() { $(this).select();} );
		$("input[type='password']").focus(function() { $(this).select();} );
		
		// 初期入力欄の書き込み開始を許可
		$("#account_password").removeAttr("disabled");
		$("#account_password").select();
	}
);

// ]]>
	</script>
</head>
<body>
<div id="container">

<div id="header">
	<h1><a href="<%= CFG[:top_url] %>"><img alt="Tenco!" src='<%= CFG[:static_url] %>images/Tenco.gif' width='<%= 366/3 %>' height='<%= 126/3 %>' /></a></h1>
	<p>プロフィール設定ページα1 (2010/11/17)</p>
</div>

<hr />

<div id="main_wrapper">
<div id="main">

<div class="section">
<h2><%= h account_name %> さんのプロフィール設定</h2>
<noscript class="suppli msg">
	現在のところ、ブラウザ経由でのアカウントプロフィール設定は javascript が必須です。申し訳ありません。
</noscript>
<p class="suppli">
※現在、マイページへの反映は、１時間ごとの更新時におこなわれます<br />
※twitter をプロフィールに設定すると、自動的にアイコン画像が表示されるようになります
</p>
<p>
	パスワード：<input id='account_password' name='account_password' tabindex='1' type='password' size='24' value="" />&nbsp;<button id='get_profiles' tabindex='2'>現在のプロフィール情報取得</button>
</p>
<pre id="message" class="suppli"></pre>

<div id="profile_settings" style="display:none">
	<h3>新しいプロフィールの追加</h3>
	
	<table id="register_profile">
		<thead>
			<tr>
				<th>プロフィール属性</th>
				<th>表示する文字列</th>
				<th>リンクURL(任意)</th>
				<th>公開する</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
				<select id="property_name">
				</select>
				<select id="property_name_hidden" style="display:none">
				</select>
				</td>
				<td><input type="text" id="property_value" maxlength="<%= VALUE_MAX_LENGTH %>"></input></td>
				<td><input type="text" id="property_uri" maxlength="<%= MAX_URI_BYTES %>"></input></td>
				<td><input type="checkbox" id="property_visibility" checked="checked"></input></td>
				<td style="text-align:center"><button type="button" id="add_profile">登録</button></td>
			</tr>
		</tbody>
	</table>
	
	<h3>登録済みプロフィール</h3>
	<table id="current_profile">
		<thead>
			<tr>
				<th>プロフィール属性</th>
				<th>表示する文字列</th>
				<th>リンクURL(任意)</th>
				<th>公開する</th>
				<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
			</tr>
		</thead>
		<tbody id="current_profile_data">
		</tbody>
	</table>
	
</div>

</div>


</div>
</div>

<div id="side" class="tools tools_right">
	<h2>マイページ</h2>
	<ul>
	<%- game_accounts.each do |ga| -%>
		<li><a href="<%= "#{CFG[:top_url]}game/#{ga.game_id.to_i}/account/#{u account_name}/" %>"><%= h ga.game_name %>のマイページ</a></li>
	<%- end -%>
	</ul>
	<h2>リンク</h2>
	<%= link_html %>
</div>


<hr />

<div id="footer">
<%= footer_html %>
</div>

</div>

</body>
</html>

