<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='ja' lang='ja'>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="stylesheet" type="text/css" href="<%= TOP_URL %>css/main.css" />
	<link rel="stylesheet" type="text/css" href="<%= TOP_URL %>css/3cols_sides-width-fixed.css" />
	<link rel="meta" type="text/xml" title="Game Account Profile" href="<%= "#{TOP_URL}game/#{game_id.to_i}/account/#{u account_name}/output=xml" %>" />
	<script type="text/javascript" charset="utf-8" src="<%= TOP_URL %>js/gibberish-aes.js"></script>
	<script type="text/javascript" charset="utf-8" src="<%= TOP_URL %>js/webtoolkit.url.js"></script>
	<script type="text/javascript" charset="utf-8" src="<%= TOP_URL %>js/webtoolkit.sha1.js"></script>
	<script type="text/javascript" charset="utf-8" src="<%= TOP_URL %>js/jquery.js"></script>
	<script type="text/javascript" charset="utf-8" src="<%= TOP_URL %>js/jsdeferred.jquery.js"></script>
	<script type="text/javascript" charset="utf-8" src="<%= TOP_URL %>js/show_user_data.js"></script>
	<script type="text/javascript" charset="utf-8" src="<%= TOP_URL %>js/search.js"></script>
	<%# <script type="text/javascript" charset="utf-8" src="<％TOP_URL％>js/timechart.js"></script>
	<!--[if IE]><script type="text/javascript" src="<％TOP_URL％>js/excanvas.js"></script><![endif]--> %>
	<title><%= h game_account.rep_name %> / <%= h game.name %> - Tenco!</title>
	<script type="text/javascript">
//<![CDATA[ 
	
// ロード時実行
$(document).ready(
	function(){
		// javascript 利用部表示
		// IEだとEnterキーでなぜかボタンをクリックするので
		// formタグで抑制する
		var track_records_tool_html = "";
		track_records_tool_html += "<span id='search_tool_msg' class='suppli msg'>search:</span>\n";
		track_records_tool_html += "<form action='' method='post' onSubmit='return false;' style='display:inline'>\n";
		track_records_tool_html += "<input id='search_str' name='search_str' tabindex='1' type='text' size='16' />&nbsp;<button id='search_track_records' tabindex='2'>検索</button>\n";
		track_records_tool_html += "</form>&nbsp;\n";
		
		track_records_tool_html += "<span id='decrypt_tool_msg' class='suppli msg'>password:</span>\n";
		track_records_tool_html += "<span id='decrypt_tool'>\n";
		track_records_tool_html += "<form action='' method='post' onSubmit='return false;' style='display:inline'>\n";
		track_records_tool_html += "<input id='account_password' name='account_password' tabindex='3' type='password' size='16' />&nbsp;<button id='show_user_data' tabindex='4'>復号</button>\n";
		track_records_tool_html += "</form>&nbsp;\n";
		track_records_tool_html += "\t\t\t\t\t</span>\n";

		$("#track_records_tool").html(track_records_tool_html);
		
		// 非同期実行準備
		$.deferred.define();
		
		// 検索ボタンに実行関数を紐付け
		$("#search_track_records").click(
			function() {
				(function() {search("#track_records > tbody > tr", "table-row", "#search_str")})();
			}
		);
		// 検索語入力欄でエンターでも実行
		$("#search_str").keyup(
			function(evt) {
				if (evt.which == 13) {
					$("#search_track_records").click();
				}			
			}
		);

		// アカウントデータ表示ボタンに実行関数を紐付け
		$("#show_user_data").click(
			function() {
				var account_password = $("#account_password").val();
				if (account_password != "") {
					show_user_data('<%= h account.name %>', SHA1(account_password));
				}
			}
		);
		// パスワード入力欄でエンターでも実行
		$("#account_password").keyup(
			function(evt) {
				if (evt.which == 13) {
					$("#show_user_data").click();
				}			
			}
		);
		
		// パスワード欄選択時に全テキスト選択
		$("#account_password").focus(
			function() {
				$(this).select();
			}
		);
		
		// パスワード欄にフォーカス
		// $("#account_password").focus();
		
		// 検索テキストボックスでインクリメンタルサーチ
		// simple_inc_search("#track_records > tbody > tr", "table-row", "#search_str", 1000);
		
	}
);

// ]]>
	</script>
</head>
<body>

<div id="container">

<div id="header">
<h1><a href="<%= TOP_URL %>"><img alt="Tenco!" src='<%= TOP_URL %>images/Tenco.gif' width='<%= 366/3 %>' height='<%= 126/3 %>' /></a></h1> マイページ 開発中バージョンα8.1（2009/09/09）
<p id="meta_info">
λ＜レートなんて飾りなんです。偉い人にはそれがわからんのです<br />
<%= now.strftime('%m/%d %H:%M') %> に作成（毎時0分以降に再生成）<br />
おしらせ：<img alt="" src="<%= TOP_URL %>client/images/suwako.ico" width="16" height="16" /> <a href="<%= TOP_URL %>">天則観報告ツール Ver.0.01b</a> リリース（09/09/04）<br />
おしらせ：高レートキャラのみ対象にレート推定表示を試験運用中(09/09/09)</p>
</div>

<%#
<div class="menu">
<ul>
	<li><a href=""></a></li>
</ul>
</div>
-%>

<hr />

<div id="wrapper">
	<div id="main_wrapper">
	<div id="main">
	
	<div class="section">
		<h2>レーティング Rev.3 - <%= "#{h game.name}" %></h2>
		<%- if account.show_ratings_flag.to_i == 0 then -%>
		<p class="suppli">
		レートはあいまい表示設定です。百の位以上のみ表示します。
		</p>
		<%- end -%>
		<table id="ratings">
			<thead>
				<tr>
					<th>キャラクター</th>
					<th>レート<sub>±RD</sub>（対戦人数/対戦数）</th>
					<%- if estimate_ratings.length > 0 -%>
					<%= "<th class=\"suppli\">推定レート</th>" %>
					<%- end -%>
				</tr>
			</thead>
			<tbody>
				<%- ratings.each do |r| -%>
				<tr>
					<td><%= "#{type1_h[r.type1_id.to_i]}" %></td>
					<%- if account.show_ratings_flag.to_i != 0 then -%>
					<td><%= "#{r.rating.to_f.round}<sub>±#{r.ratings_deviation.to_f.floor}</sub>（#{r.matched_accounts.to_i}人/#{r.match_counts.to_i}戦）" %></td>
					<%- else -%>
					<td><%= "#{(r.rating.to_f.round / 100.0).floor}XX<sub>±#{r.ratings_deviation.to_f.floor}</sub>（#{r.matched_accounts.to_i}人/#{r.match_counts.to_i}戦）" %></td>
					<%- end -%>
					<%- if estimate_ratings.length > 0 -%>
					<td class="num suppli">
						<%- if !estimate_ratings[r.type1_id.to_i].nil? && !estimate_ratings[r.type1_id.to_i][:rating].nil? -%>
						<%= estimate_ratings[r.type1_id.to_i][:rating].to_i %>
						<%- else -%>
						-
						<%- end -%>
					</td>
					<%- end -%>
				</tr>
				<%- end -%>
			</tbody>
		</table>
		<p class="suppli">
			<abbr title="Ratings Deviation">RD</abbr> はレートのばらつきの大きさ示すものです。<br />
			数字が小さいほど、レートとしての信頼性が高くなります。<br />
			対戦すると <abbr title="Ratings Deviation">RD</abbr> は下がり、時間経過でわずかずつ上昇します。最小50、初期値350 です。<br />
			対戦数は、レート計算対象になっているマッチ済みのアカウント数と対戦数です。<br />
			なお、ラウンド取得数は、レート変動に直接影響しません。<br />
			レート計算は毎時0分ちょっと前に行います。
		</p>
		<%- if estimate_ratings.length > 0 -%>
		<p class="suppli">
			<a href="<%= TOP_URL %>estimate_rating.cgi?game_id=<%= game_id.to_i %>&amp;name=<%= u est_target_names.join("<>") %>">推定レート</a>は他プレイヤーの対戦結果報告を元に算出されます。<br />
			推定レート値が通常のレート値より極端に低い場合、<br />
			負け試合のみを意図して報告しないことが原因の場合があります（確実ではありません）。<br />
			ハイフンは表示対象外か、推定精度不足のため表示されないことを意味します。
		<%- end -%>
		</p>
	</div>	
	
	<div class="section">
		<h2>対戦記録 - <%= "#{h game.name}" %></h2>
		<noscript class="suppli msg">
			javascript を ON にすると、検索・復号ができます 
		</noscript>
		<table id="track_records">
			<caption id="track_records_tool" style="text-align:left; white-space:nowrap">
			</caption>
			<thead>
				<tr>
					<th>対戦日時</th>
					<th>勝ち</th>
					<th>成績</th>
					<th>負け</th>
				</tr>
			</thead>
			<tbody>
				<%- track_records.each do |t| -%>
					<%- if t.player1_points > t.player2_points -%>
				<tr>
					<td class="time"><%= pgsql_timestamp_str_to_time(t.play_timestamp).strftime('%y/%m/%d %H:%M') %></td>
					<td><%= "#{z2h_long_str(xhtml_sp2nbsp(h(t.player1_name)))} (#{type1_h[t.player1_type1_id.to_i]})" %></td>
					<td class="vs"><%= "#{t.player1_points.to_i} - #{t.player2_points.to_i}" %></td>
						<%- unless t.player2_account_name.nil? -%>
					<td><a href="<%= "#{TOP_URL}game/#{game_id.to_i}/account/#{u t.player2_account_name}/" %>"><%= z2h_long_str(xhtml_sp2nbsp(h(t.player2_name))) %></a><%= " (#{type1_h[t.player2_type1_id.to_i]})" %></td>
						<%- else -%>
					<td><span class="enc_alt"><%= "◇#{t.player2_name[11..14]}" %></span><span class="enc"><%= u(h(t.player2_name)) %></span> <%= "(#{type1_h[t.player2_type1_id.to_i]})" %></td>
						<%- end -%>
				</tr>
					<%- else -%>
				<tr>
					<td class="time"><%= pgsql_timestamp_str_to_time(t.play_timestamp).strftime('%y/%m/%d %H:%M')  %></td>
						<%- unless t.player2_account_name.nil? -%>
					<td><a href="<%= "#{TOP_URL}game/#{game_id.to_i}/account/#{u t.player2_account_name}/" %>"><%= z2h_long_str(xhtml_sp2nbsp(h(t.player2_name))) %></a><%= " (#{type1_h[t.player2_type1_id.to_i]})" %></td>
						<%- else -%>
					<td><span class="enc_alt"><%= "◇#{t.player2_name[11..14]}" %></span><span class="enc"><%= u(h(t.player2_name)) %></span> <%= "(#{type1_h[t.player2_type1_id.to_i]})" %></td>
						<%- end -%>
					<td class="vs"><%= "#{t.player2_points.to_i} - #{t.player1_points.to_i}" %></td>
					<td><%= "#{z2h_long_str(xhtml_sp2nbsp(h(t.player1_name)))} (#{type1_h[t.player1_type1_id.to_i]})" %></td>
				</tr>
					<%- end -%>
				<%- end -%>
			</tbody>
		</table>
	</div>
	
	</div>
	</div>
	
	<div id="profile">
	<%= xhtml_sp2nbsp(h(game_account.rep_name)) %> さん<br />
	<br />
キャラクター使用率
<pre class="AA">##ビジュアル表現を予定##

　　　　 ,.ｨrｰr 、
　　　y' "´￣｀'ヽ
.　　 ﾉ　　 くノﾉ))ゝ
　　　ﾙi,,,,ﾘ§ﾟ-ﾉ
　　　　'k'_,i{X l}〈つ[|三＞
　　　 ／'/_ハ.ゝ、
　　　　 ｀'ﾄ_ﾉ'ﾄ,ﾉ"

##ビジュアル表現を予定##
</pre>
そのほかプロフィールあれこれ<br />
<p>
<%- if game_account.cluster_name -%><%= "#{h game_account.cluster_name}クラスタ所属" %><%- end -%>
</p>
<p>
<a href="<%= "#{TOP_URL}account/#{u account_name}/manage/" %>">アカウント設定</a>
</p>
<%# <canvas id="timechart" width="250" height="225" style="display:block"></canvas> %>
<p>
	<a href="<%= "#{TOP_URL}game/#{game_id.to_i}/account/#{u account_name}/output=xml" %>"><img width="40" height="18" src="<%= "#{TOP_URL}images/xml.png" %>" alt="アカウント情報（XML形式）" /></a>
</p>

<%- if other_games.length > 0 -%>
<h3>他ゲームのマイページ</h3>
<ul>
	<%- other_games.each do |other_game| -%>
	<li><a href="<%= "#{TOP_URL}game/#{other_game.id.to_i}/account/#{u account_name}/" %>"><%= "#{h other_game.name}" %></a></li>
	<%- end -%>
</ul>
<%- end -%>
<hr />
<div class="tools tools_left">
<h2>リンク</h2>
<%= link_html %>
	</div>
</div>
</div>

<div id="side" class="tools tools_right">
	<h2>プライズページ</h2>
	<ul>
		<li><a href="<%= "#{TOP_URL}game/#{game_id.to_i}/pov/1/" %>">レートランキング</a></li>
		<li><a href="<%= "#{TOP_URL}game/#{game_id.to_i}/pov/1/type1/" %>">レートランキング（キャラ別）</a></li>
		<li><a href="<%= "#{TOP_URL}game/#{game_id.to_i}/pov/2/" %>">マッチ数ランキング</a></li>
	</ul>
	<h2>統計</h2>
	<ul>
		<li><a href="<%= "#{TOP_URL}game/#{game_id.to_i}/type1_vs_type1_stats/" %>">キャラ対キャラ統計</a></li>
	</ul>
	<h2>過去の対戦相手</h2>
	<ul>
		<%- matched_game_accounts.each do |a| -%>
		<li><a href="<%= "#{TOP_URL}game/#{game_id.to_i}/account/#{u a.account_name}/" %>"><%= xhtml_sp2nbsp(h(a.rep_name)) %></a></li>
		<%- end -%>
	</ul>
</div>


<hr />
<div id="footer">
<%= footer_html %>
</div>

</div>

</body>
</html>

