<h1><a href="<%= CFG[:top_url] %>"><img alt="Tenco!" src='<%= CFG[:static_url] %>images/Tenco.gif' width='<%= 366/3 %>' height='<%= 126/3 %>' /></a></h1> マイページα19（2012/10/06）
<br />
<p id="meta_info">
λ＜レートなんて飾りなんです。偉い人にはそれがわからんのです<br />
<%= now.strftime("%m/%d %H:%M") %> に作成（毎時0分以降に再生成）<br />
プロフィール設定で<a href="http://twitter.com/" target="_blank"> twitter </a>が登録されていれば、アイコンを出すようにしました（'11/12/12）<br />
<a href="http://www.tasofro.net/" target="_blank">黄昏フロンティア</a>から東方新作情報が出ています。（'12/10/5）
<%# <a href="http://www.tasofro.net/" target="_blank">緋想天Ver1.06aパッチ</a>が出ています。<a href="http://mint.s150.xrea.com/?%E5%A4%A9%E5%89%87%E8%A6%B3#l6c4024e" target="_blank">天則観(非想天則Ver1.10a用)</a>も出ています。（11/9/23）%>
<%# 現在、対戦履歴表示を直近報告の最大100件のみにしています。現在対応中です。（10/05/26 04:07）<br /> %>
</p>
