<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='ja' lang='ja'>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="shortcut icon" type="image/x-icon" href="<%= CFG[:static_url] %>favicon.ico" />
	<link rel="stylesheet" type="text/css" href="<%= CFG[:static_url] %>css/main.css" />
	<link rel="stylesheet" type="text/css" href="<%= CFG[:static_url] %>css/3cols_sides-width-fixed.css" />
	<link rel="meta" type="text/xml" title="Game Account Profile" href="<%= "#{CFG[:top_url]}game/#{game_id.to_i}/account/#{u account_name}/output=xml" %>" />
	<script type="text/javascript" charset="utf-8" src="<%= CFG[:static_url] %>js/gibberish-aes.js"></script>
	<script type="text/javascript" charset="utf-8" src="<%= CFG[:static_url] %>js/webtoolkit.url.js"></script>
	<script type="text/javascript" charset="utf-8" src="<%= CFG[:static_url] %>js/webtoolkit.sha1.js"></script>
	<script type="text/javascript" charset="utf-8" src="<%= CFG[:static_url] %>js/jquery.js"></script>
	<script type="text/javascript" charset="utf-8" src="<%= CFG[:static_url] %>js/jquery.cookie.js"></script>
	<script type="text/javascript" charset="utf-8" src="<%= CFG[:static_url] %>js/jquery.tablesorter.js"></script>
	<script type="text/javascript" charset="utf-8" src="<%= CFG[:static_url] %>js/jsdeferred.jquery.js"></script>
	<script type="text/javascript" charset="utf-8" src="<%= CFG[:static_url] %>js/utils.js"></script>
	<script type="text/javascript" charset="utf-8" src="<%= CFG[:static_url] %>js/show_user_data.js"></script>
	<script type="text/javascript" charset="utf-8" src="<%= CFG[:static_url] %>js/search.js"></script>
	<script type="text/javascript" charset="utf-8" src="<%= CFG[:static_url] %>js/account_tag.js"></script>
	<script type="text/javascript" charset="utf-8" src="<%= CFG[:static_url] %>js/bsn.Crossfader.js"></script>
	<title><%= h game_account.rep_name %> / <%= h game.name %> - Tenco!</title>
	<script type="text/javascript">
//<![CDATA[ 
	
// ロード時実行
$(document).ready(
		
	function(){
		// ラベル：対戦結果表示モード
		var tr_show_mode_label = {
			'all'   : '全件表示'
			, 'top100': '最新100件'
		//	, 'month' : '月別表示'
		};

		// 対戦結果表示モードに応じて表示する関数
		function change_tr_show_mode(tr_show_mode) {
			var tr_show_mode = tr_show_mode;
			
			$("#tr_show_mode").attr("disabled", "disabled");
			
			if (tr_show_mode == 'all') {
				if (!jQuery.browser.msie && !jQuery.browser.opera &&  !jQuery.browser.safari) {
					loop(
						{
							begin: 0,
							end: $("#track_records > tbody > tr:gt(" + (100 - 1) + ")").length,
							step: 100
						},
						function (n, o) {
							$("#track_records > tbody > tr:gt(" + (100 - 1) + ")").slice(n, n + o.step).each(
								function() {
									$(this).show();
								}
							);
							wait(0);
						}
					).next(
						function() {
							$("#tr_show_mode").removeAttr("disabled");
						}
					);
				}
				else {
					$("#track_records > tbody > tr").show();
					$("#tr_show_mode").removeAttr("disabled");
				}
			}
			else {
				$("#track_records > tbody > tr:gt(" + (100 - 1) + ")").hide();
				$("#tr_show_mode").removeAttr("disabled");
			}
		
		}
		
		// javascript 利用部 HTML
		// IEだとEnterキーでなぜかボタンをクリックするので
		// formタグで抑制する
		var track_records_tool_html = "";
		track_records_tool_html += "<select id=\"tr_show_mode\">\n";
		track_records_tool_html += "\t<option value='all'>" + tr_show_mode_label['all'] + "</option>\n";
		track_records_tool_html += "\t<option value='top100'>" + tr_show_mode_label['top100'] + "</option>\n";
		// track_records_tool_html += "\t<option value='month'>" + tr_show_mode_label['month']  + "</option>\n";
		track_records_tool_html += "</select>\n";
		
		track_records_tool_html += "<span class='input_set'>\n";
		track_records_tool_html += "<span id='search_tool_msg' class='suppli msg'>search:</span>\n";
		track_records_tool_html += "<form action='' method='post' onSubmit='return false;' style='display:inline'>\n";
		track_records_tool_html += "<input id='search_str' name='search_str' tabindex='1' type='text' size='16' />&nbsp;<button id='search_track_records' tabindex='2'>検索</button>\n";
		track_records_tool_html += "</form>\n";
		track_records_tool_html += "</span>\n";
		
		track_records_tool_html += "<span class='input_set'>\n";
		track_records_tool_html += "<span id='decrypt_tool_msg' class='suppli msg'>password:</span>\n";
		track_records_tool_html += "<span id='decrypt_tool'>\n";
		track_records_tool_html += "<form action='' method='post' onSubmit='return false;' style='display:inline'>\n";
		track_records_tool_html += "<input id='account_password' name='account_password' tabindex='3' type='password' size='16' />&nbsp;<button id='show_user_data' tabindex='4'>復号</button>\n";
		track_records_tool_html += "</form>\n";
		track_records_tool_html += "</span>\n";
		track_records_tool_html += "</span>\n";

		$("#track_records_tool").html(track_records_tool_html);
			
		// 非同期実行準備
		$.deferred.define();
		
		// レーティングテーブルソート機能追加
		$("#ratings").addClass("tablesorter");
		$("#ratings").tablesorter({
			textExtraction: function(node) {
				return node.getAttribute('title') || node.innerHTML;
			}
		});
		
		// タグ編集リンクに実行関数紐付け
		var is_edit_tags_visible = false;
		$("#toggle_edit_tags").click(
			function() {
				if (is_edit_tags_visible) {
					$("#edit_tags").hide();
					is_edit_tags_visible = false;
				}
				else {
					$("#edit_tags").show();
					if (!got_account_tags) {
						get_account_tags("<%= h account_name %>");
					}
					is_edit_tags_visible = true;
				}
			}
		);
		
		// プレイヤータグ追加ボタンに実行関数紐付け
		$("#add_account_tag").click(
			function() {
				var tag_name = $("#input_account_tag_name").val();
				if (tag_name != '') {
					add_account_tag("<%= h account_name %>", tag_name);
				}
			}
		);

		// プレイヤータグ削除ボタンに実行関数紐付け
		$("#delete_account_tag").click(
			function() {
				var tag_name = $("#input_account_tag_name").val();
				if (tag_name != '') {
					delete_account_tag("<%= h account_name %>", tag_name);
				}
			}
		);
		
		// 対戦結果表示モード取得・表示
		var tr_show_mode = $.cookie('tr_show_mode') || 'top100';
		$("#tr_show_mode option[value='" + tr_show_mode + "']").attr('selected', 'selected');
				
		// 表示モード切替に実行関数紐付け
		$("#tr_show_mode").change(
			function() {
				var selected_tr_show_mode = $("#tr_show_mode option:selected").val();
				if (tr_show_mode != selected_tr_show_mode) {
					tr_show_mode = selected_tr_show_mode;
					$.cookie('tr_show_mode', tr_show_mode, { expires: 2000, path: '/'});
					change_tr_show_mode(tr_show_mode);
				}		
			}
		);
		
		// 検索ボタンに実行関数を紐付け
		$("#search_track_records").click(
			function() {
				(function() {search("#track_records > tbody > tr", "table-row", "#search_str")})();
			}
		);
		// 検索語入力欄でエンターでも実行
		$("#search_str").keyup(
			function(evt) {
				if (evt.which == 13) {
					$("#search_track_records").click();
				}			
			}
		);

		// アカウントデータ表示ボタンに実行関数を紐付け
		$("#show_user_data").click(
			function() {
				var account_password = $("#account_password").val();
				if (account_password != "") {
					show_user_data('<%= h account.name %>', SHA1(account_password));
				}
			}
		);
		// パスワード入力欄でエンターでも実行
		$("#account_password").keyup(
			function(evt) {
				if (evt.which == 13) {
					$("#show_user_data").click();
				}			
			}
		);
		
		// パスワード欄選択時に全テキスト選択
		$("#account_password").focus(
			function() {
				$(this).select();
			}
		);
		
		// パスワード欄にフォーカス
		// $("#account_password").focus();
		
		// 検索テキストボックスでインクリメンタルサーチ
		// simple_inc_search("#track_records > tbody > tr", "table-row", "#search_str", 1000);
		
		// ツール部分表示
		$("#track_records_tool").show();
		
		// 全件表示の場合は表示する
		if (tr_show_mode == 'all') {
			change_tr_show_mode(tr_show_mode);
		}
	}
);

// ]]>
	</script>
</head>
<body>

<div id="container">

<div id="header">
<h1><a href="<%= CFG[:top_url] %>"><img alt="Tenco!" src='<%= CFG[:static_url] %>images/Tenco.gif' width='<%= 366/3 %>' height='<%= 126/3 %>' /></a></h1> マイページα20（2012/10/24）
<br />
<p id="meta_info">
<%= meta_info_html %>
</p>
</div>

<%#
<div class="menu">
<ul>
	<li><a href=""></a></li>
</ul>
</div>
-%>
<hr />


<div id="wrapper">
	<div id="main_wrapper">
	<div id="main">
	
	<div class="section">
		<h2>レーティング Rev.3 - <%= "#{h game.name}" %></h2>
		<%- if account.show_ratings_flag.to_i == 0 then -%>
		<p class="suppli">
		レートはあいまい表示設定です。百の位以上のみ表示します。
		</p>
		<%- end -%>
		<table id="ratings">
			<thead>
				<tr>
					<th>キャラクター</th>
					<th>対戦人数/対戦数</th>
					<th>レート<sub>±RD</sub><span class="suppli"> (勝敗比率値)</span></th>
					<%- if estimate_ratings.length > 0 -%>
					<%= "<th class=\"suppli\">推定レート</th>" %>
					<%- end -%>
				</tr>
			</thead>
			<tbody>
				<%- ratings.each do |r| -%>
				<tr>
					<td title="<%= r.type1_id.to_i %>"><%= "#{type1_h[r.type1_id.to_i]}" %></td>
					<td title="<%= "#{sprintf('%05d', r.matched_accounts.to_i)}" %>"><%= "#{r.matched_accounts.to_i}人/#{r.match_counts.to_i}戦" %></td>
					<%- if account.show_ratings_flag.to_i != 0 then -%>
					<td title="<%= "#{sprintf('%04d', r.rating.to_f.round)}" %>"><%= "#{r.rating.to_f.round}<sub>±#{r.ratings_deviation.to_f.floor}</sub>" %><span class="suppli"> (<%= "#{sprintf('%d', 10 ** (((r.rating.to_i - 3000) / 400.0) + 6))}" %>)</span></td>
					<%- else -%>
					<td title="<%= "#{sprintf('%02d',(r.rating.to_f.round / 100.0).floor)}XX" %>"><%= "#{(r.rating.to_f.round / 100.0).floor}XX<sub>±#{r.ratings_deviation.to_f.floor}</sub>" %><span class="suppli"> (<%= "#{sprintf('%d', 10 ** ((((r.rating.to_f.round / 100.0).floor * 100 - 3000) / 400.0) + 6))}~#{sprintf('%d', 10 ** (((((r.rating.to_f.round / 100.0).floor * 100 + 100) - 3000) / 400.0) + 6))}" %>)</span></td>
					<%- end -%>
					<%- if estimate_ratings.length > 0 -%>
					<td class="num suppli">
						<%- if !estimate_ratings[r.type1_id.to_i].nil? && !estimate_ratings[r.type1_id.to_i][:rating].nil? -%>
						<%= estimate_ratings[r.type1_id.to_i][:rating].to_i %>
						<%- else -%>
						-
						<%- end -%>
					</td>
					<%- end -%>
				</tr>
				<%- end -%>
			</tbody>
		</table>
		<p class="suppli">
			<abbr title="Ratings Deviation">RD</abbr> はレートのばらつきの大きさ示すものです。<br />
			数字が小さいほど、レートとしての信頼性が高くなります。<br />
			対戦すると <abbr title="Ratings Deviation">RD</abbr> は下がり、時間経過でわずかずつ上昇します。最小50、初期値350 です。<br />
			対戦数は、レート計算対象になっているマッチ済みのアカウント数と対戦数です。<br />
			なお、ラウンド取得数は、レート変動に直接影響しません。<br />
			レート計算は毎時0分ちょっと前に行います。
		</p>
		<%- if estimate_ratings.length > 0 -%>
		<p class="suppli">
			<a href="<%= CFG[:top_url] %>estimate_rating.cgi?game_id=<%= game_id.to_i %>&amp;name=<%= u est_target_names.join("<>") %>">推定レート</a>は他プレイヤーの対戦結果報告を元に算出されます。<br />
			推定レート値が通常のレート値より極端に低い場合、<br />
			負け試合のみを意図して報告しないことが原因の場合があります（確実ではありません）。<br />
			ハイフンは表示対象外か、推定精度不足のため表示されないことを意味します。
		</p>
		<%- end -%>
		<p class="suppli">
			レート計算時、マッチした対戦の勝敗数が、レート差から予想される勝敗数から<br />
			離れるほど、レートが上下します。<br/>
			レート差から予想される勝敗数の比は、おおむね以下のとおり計算できます。<br/>
			&nbsp;&nbsp;&nbsp;(自分の勝利数) : (相手の勝利数)<br /> 
			&nbsp;&nbsp;&nbsp;= (自分の勝敗比率値) : (相手の勝敗比率値)<br /> 
			&nbsp;&nbsp;&nbsp;= 10 ^ (自分のレート/400) : 10 ^ (相手のレート/400)<br /> 
			&nbsp;&nbsp;&nbsp;= 1 : 10 ^ ((相手のレート - 自分のレート)/400)<br />
			なお、(勝敗比率値) = 10 ^ (レート/400 - 1.5) です。<br />
			レート差200で、４戦して１勝３敗が、予想勝敗数の目安です。<br />
			また、レート変動の大きさは、RDの2乗にも比例します。
		</p>
	</div>	
	
	<div class="section">
		<h2>対戦記録 - <%= "#{h game.name}" %></h2>
		<noscript class="suppli msg">
			javascript を ON にすると、検索・復号ができます 
		</noscript>
		<div id="track_records_tool" style="text-align:left">
		</div>
		<table id="track_records">
			<thead>
				<tr>
					<th>対戦日時</th>
					<th>勝ち</th>
					<th>成績</th>
					<th>負け</th>
				</tr>
			</thead>
			<tbody>
				<%- track_records.each_index do |i| -%>
					<%- t = track_records[i] -%>
					<%- if i < 100 then -%>
				<tr class="top100">
					<%- else -%>
				<tr>
					<%- end -%>
					<%- if t.player1_points > t.player2_points -%>
					<td class="time suppli"><%= t.play_timestamp.strftime("%y/%m/%d %H:%M") %></td>
					<td>
						<%- if (! t.player2_account_name.nil?) && (data = account_twitter_data[account.id.to_i]) -%>
							<%= icon_image_html(data.first) -%>
						<%- end -%>
						<%= "#{z2h_long_str(xhtml_sp2nbsp(h(t.player1_name)))} (#{type1_h[t.player1_type1_id.to_i]})" %></td>
					<td class="vs"><%= "#{t.player1_points.to_i} - #{t.player2_points.to_i}" %></td>
						<%- unless t.player2_account_name.nil? -%>
					<td>
							<%- if data = account_twitter_data[t.player2_account_id.to_i] -%>
								<%= icon_image_html(data.first) -%>
							<%- end -%>
						<a href="<%= "#{CFG[:top_url]}game/#{game_id.to_i}/account/#{u t.player2_account_name.to_s}/" %>"><%= z2h_long_str(xhtml_sp2nbsp(h(t.player2_name))) %></a><%= " (#{type1_h[t.player2_type1_id.to_i]})" %></td>
						<%- else -%>
					<td><span class="enc_alt"><%= "◇#{t.player2_name[11..14]}" %></span><span class="enc"><%= u(h(t.player2_name)) %></span><%= "(#{type1_h[t.player2_type1_id.to_i]})" %></td>
						<%- end -%>
					<%- else -%>
					<td class="time suppli"><%= t.play_timestamp.strftime("%y/%m/%d %H:%M")  %></td>
						<%- unless t.player2_account_name.nil? -%>
					<td>
							<%- if data = account_twitter_data[t.player2_account_id.to_i] -%>
								<%= icon_image_html(data.first) -%>
							<%- end -%>
						<a href="<%= "#{CFG[:top_url]}game/#{game_id.to_i}/account/#{u t.player2_account_name.to_s}/" %>"><%= z2h_long_str(xhtml_sp2nbsp(h(t.player2_name))) %></a><%= " (#{type1_h[t.player2_type1_id.to_i]})" %></td>
						<%- else -%>
					<td><span class="enc_alt"><%= "◇#{t.player2_name[11..14]}" %></span><span class="enc"><%= u(h(t.player2_name)) %></span> <%= "(#{type1_h[t.player2_type1_id.to_i]})" %></td>
						<%- end -%>
					<td class="vs"><%= "#{t.player2_points.to_i} - #{t.player1_points.to_i}" %></td>
					<td>
						<%- if (! t.player2_account_name.nil?) && (data = account_twitter_data[account.id.to_i]) -%>
							<%= icon_image_html(data.first) -%>
						<%- end -%>
						<%= "#{z2h_long_str(xhtml_sp2nbsp(h(t.player1_name)))} (#{type1_h[t.player1_type1_id.to_i]})" %></td>
					<%- end -%>
				</tr>
				<%- end -%>
			</tbody>
		</table>
	</div>
	
	</div>
	</div>
	
	<div id="profile">
	<p>
	<%= xhtml_sp2nbsp(h(game_account.rep_name)) %> さん
	</p>
	<div class="visual" id="side_visual">
	<%- if twitter_data = account_twitter_data[account.id.to_i] then -%>
		<ul>
		<%- twitter_data.each do |data| -%>
			<li><%= player_image_html(data) %></li>
		<%- end -%>
		</ul>
	<%- else -%>
	<pre class="AA" title="プロフィール設定で twitter の URL を登録すると、アイコン画像が表示されます">　　　　 ,.ｨrｰr 、
　　　y' "´￣｀'ヽ
.　　 ﾉ　　 くノﾉ))ゝ
　　　ﾙi,,,,ﾘ§ﾟ-ﾉ
　　　　'k'_,i{X l}〈つ[|三＞
　　　 ／'/_ハ.ゝ、
　　　　 ｀'ﾄ_ﾉ'ﾄ,ﾉ"
　　　  No Image</pre>
	<%- end -%>
	</div>
<h3>プレイヤータグ</h3>
<ul id="account_tags">
<%- account_tags.each do |at| -%>
	<li><a href="<%= CFG[:top_url] %>tag/<%= u(at.tag_disp_name).gsub(/%2f/i, "/") %>"><%= h at.tag_disp_name %></a></li>
<%- end -%>
</ul>
<p>
	<a id="toggle_edit_tags" class="suppli">タグ編集</a>
</p>
<div id="edit_tags" style="display:none">
	<div id="account_tag_tool">
		<input id='input_account_tag_name' name='input_account_tag_name' type='text' size='40' value="" /><br />
		<button id='add_account_tag'>タグ追加</button>&nbsp;<button id='delete_account_tag'>タグ削除</button>
	</div>
	<span id='account_tag_msg' class="suppli"></span>
</div>
<h3>登録プロフィール</h3>
<ul id="account_profiles">
<%- account_profiles.keys.sort.each do |class_id| -%>
<%- aps = account_profiles[class_id] -%>
	<li><span style="font-weight:bold"><%= h aps[:class_display_name] %></span>
		<ul>
			<%- aps[:profiles].each do |ap| -%>
			<li>
				<%- if ap.uri && ap.uri !="" then -%>
				<a href="<%= h ap.uri %>" target="_blank"><%= h ap.value %></a>
				<%- else -%>
				<%= h ap.value %>
				<%- end -%>
			</li>
			<%- end -%>
		</ul>
	</li>
<%- end -%>
<%- if account_profiles.length == 0 then -%>
<li class="suppli" style="color:#999999">プロフィール未登録</li>
<%- end -%>
</ul>
<p>
	<a class="suppli" href="<%= "#{CFG[:top_url]}account/#{u account_name}/manage/profile/" %>">プロフィール設定</a><br />
	<a class="suppli" href="<%= "#{CFG[:top_url]}account/#{u account_name}/manage/" %>">アカウント設定</a>
</p>

<p>
<%- if game_account.cluster_name -%><%= "#{h game_account.cluster_name}クラスタ所属" %><%- end -%>
</p>

<%# <canvas id="timechart" width="250" height="225" style="display:block"></canvas> %>
<p>
	<a href="<%= "#{CFG[:top_url]}game/#{game_id.to_i}/account/#{u account_name}/output=xml" %>"><img width="40" height="18" src="<%= "#{CFG[:static_url]}images/xml.png" %>" alt="アカウント情報（XML形式）" /></a>
</p>
<%- if other_games.length > 0 -%>
<h3>他ゲームのマイページ</h3>
<ul>
	<%- other_games.each do |other_game| -%>
	<li><a href="<%= "#{CFG[:top_url]}game/#{other_game.id.to_i}/account/#{u account_name}/" %>"><%= "#{h other_game.name}" %></a></li>
	<%- end -%>
</ul>
<%- end -%>

<hr />

<%= affiliate_html %>

<div class="tools tools_left">
<h2>リンク</h2>
<%= link_html %>
	</div>
</div>
</div>

<div id="side" class="tools tools_right">
	<p>
		<a href="http://info.tenco.info/info/20110320.html"><img src="<%= CFG[:static_url] %>images/tenco_nanashi_message_mini.jpg" alt="Tenco! 創設者 nanashi からのメッセージをお読みください" width="159" height="34" /></a>
	</p>
	<h2>プライズページ</h2>
	<ul>
		<li><a href="<%= "#{CFG[:top_url]}game/#{game_id.to_i}/pov/1/" %>">レートランキング</a></li>
		<li><a href="<%= "#{CFG[:top_url]}game/#{game_id.to_i}/pov/1/type1/" %>">レートランキング（キャラ別）</a></li>
		<li><a href="<%= "#{CFG[:top_url]}game/#{game_id.to_i}/pov/2/" %>">マッチ数ランキング</a></li>
	</ul>
	<h2>統計</h2>
	<ul>
		<li><a href="<%= "#{CFG[:top_url]}game/#{game_id.to_i}/type1_stats/" %>">全キャラ統計（作成中）</a></li>
		<li><a href="<%= "#{CFG[:top_url]}game/#{game_id.to_i}/type1_vs_type1_stats/" %>">キャラ対キャラ統計</a></li>
	</ul>
	<h2>タグ</h2>
	<ul>
		<li><a href="<%= CFG[:top_url] %>tag/">タグ一覧</a></li>
	</ul>
	<h2>過去の対戦相手</h2>
	<ul>
		<%- matched_game_accounts.each do |a| -%>
		<li>
			<%- if data = account_twitter_data[a.account_id.to_i] -%>
				<%= icon_image_html(data.first) -%>
			<%- end -%>
			<a href="<%= "#{CFG[:top_url]}game/#{game_id.to_i}/account/#{u a.account_name}/" %>"><%= xhtml_sp2nbsp(h(a.rep_name)) %></a>
		</li>
		<%- end -%>
	</ul>
</div>


<hr />
<div id="footer">
<%= footer_html %>
</div>

</div>

</body>
</html>

