<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='ja' lang='ja'>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="shortcut icon" type="image/x-icon" href="<%= CFG[:static_url] %>favicon.ico" />
	<link rel="stylesheet" type="text/css" href="<%= CFG[:static_url] %>css/main.css" />
	<link rel="stylesheet" type="text/css" href="<%= CFG[:static_url] %>css/2cols_side-width-fixed.css" />
	<link rel="stylesheet" type="text/css" href="<%= CFG[:static_url] %>css/stats.css" />
	<script type="text/javascript" charset="utf-8" src="<%= CFG[:static_url] %>js/jquery.js"></script>
	<title><%= h game.name %> のキャラ対キャラ統計 - Tenco!</title>
	<script type="text/javascript">
//<![CDATA[ 
	
// ロード時実行
function win_ratio2rate_diff(win_ratio) {
  if (0 < win_ratio && win_ratio < 1) {
    return (Math.log(1 / (1 - win_ratio) - 1) / Math.LN10) * 400
  }
  else if (win_ratio == 0) {
    return Infinity
  } else if (win_ratio == 1) {
    return -Infinity
  } else {
    return NaN
  }
}

$(document).ready(
	function(){
    
		// セルの値によってCSS用クラス付与
		$("#game_type1_vs_type1_win_rate td").each(function() {
			// セルの値取得
			var value = $(this).text();
			
			if (value >= 62.5) {
				$(this).addClass("legend_1");
			}
			else if (value >= 57.5) {
				$(this).addClass("legend_2");
			}
			else if (value >= 52.5) {
				$(this).addClass("legend_3");
			}
			else if (value > 47.5) {
				$(this).addClass("legend_4");
			}
			else if (value > 42.5) {
				$(this).addClass("legend_5");
			}
			else if (value > 37.5) {
				$(this).addClass("legend_6");
			}
			else if (value <= 37.5){
				$(this).addClass("legend_7");
			}
		});
		$("#game_type1_vs_type1_ideal_rating_diff td").each(function() {
			// セルの値取得
			var value = $(this).text();
			
			if (value >= win_ratio2rate_diff(62.5/100)) {
				$(this).addClass("legend_1");
			}
			else if (value >= win_ratio2rate_diff(57.5/100)) {
				$(this).addClass("legend_2");
			}
			else if (value >= win_ratio2rate_diff(52.5/100)) {
				$(this).addClass("legend_3");
			}
			else if (value > win_ratio2rate_diff(47.5/100)) {
				$(this).addClass("legend_4");
			}
			else if (value > win_ratio2rate_diff(42.5/100)) {
				$(this).addClass("legend_5");
			}
			else if (value > win_ratio2rate_diff(37.5/100)) {
				$(this).addClass("legend_6");
			}
			else if (value <= win_ratio2rate_diff(37.5/100)){
				$(this).addClass("legend_7");
			}
		});
	}
);

// ]]>
	</script>
</head>
<body>
<div id="container">

<div id="header">
	<h1><a href="<%= CFG[:top_url] %>"><img alt="Tenco!" src='<%= CFG[:static_url] %>images/Tenco.gif' width='<%= 366/3 %>' height='<%= 126/3 %>' /></a></h1>
	<p>キャラ対キャラ統計ページ Rev.3 (2009/09/20)</p>
	<p id="meta_info">
		<%= now.strftime('%m/%d %H:%M') %> に作成（毎時0分以降に再生成）<br />
	</p>
</div>

<hr />

<div id="main_wrapper">
<div id="main">

<div class="section">
<h2 class="game_title" style="background: url(<%= CFG[:static_url] %>client/images/game_<%= game.id.to_i %>_32x32.ico) no-repeat scroll 0 0 transparent; padding-left: 38px">キャラ対キャラ統計 - <%= h game.name %></h2>

<h3>対戦数（マッチ済）</h3>
<table class="column-wise stats" summary="マッチ済み対戦結果のキャラ対キャラ別対戦数表">
<tr>
	<th></th>
<%- type1.keys.sort.each do |type1_id| -%>
	<th><%= "#{h type1[type1_id].split(//u)[0]}" %></th>
<%- end -%>
</tr>
<%- type1.keys.sort.each do |type1_id| -%>
<tr>
	<th><%= "#{h type1[type1_id].split(//u)[0]}" %></th>
	<%- type1.keys.sort.each do |matched_type1_id| -%>
	<td class="num"><%= "#{game_type1_vs_type1_stats[type1_id][matched_type1_id].track_records_count.to_i}" %></td>
	<%- end -%>
</tr>
<%- end -%>
</table>

<h3>勝率（マッチ済）</h3>
<p class="suppli">
左側のキャラの、右上側のキャラに対する勝率（％）です。
</p>
<table id="game_type1_vs_type1_win_rate" class="column-wise stats" summary="マッチ済み対戦結果のキャラ対キャラ別勝率表">
<tr>
	<th></th>
<%- type1.keys.sort.each do |type1_id| -%>
	<th><%= "#{h type1[type1_id].split(//u)[0]}" %></th>
<%- end -%>
</tr>
<%- type1.keys.sort.each do |type1_id| -%>
<tr>
	<th><%= "#{h type1[type1_id].split(//u)[0]}" %></th>
	<%- type1.keys.sort.each do |matched_type1_id| -%>
	<%- gtvts = game_type1_vs_type1_stats[type1_id][matched_type1_id] -%>
		<%- if gtvts.track_records_count.to_i != 0 -%>
	<td class="num"><%= "#{((gtvts.wins.to_f / gtvts.track_records_count.to_f) * 1000).round / 10.0}" %></td>
		<%- else -%>
	<td class="num">-</td>
		<%- end -%>
	<%- end -%>
</tr>
<%- end -%>
</table>

<h3>勝率レート換算値（マッチ済）</h3>
<p class="suppli">
左側のキャラの、右上側のキャラに対する勝率を理論的なレート差に換算したものです。<br />
<span class="math">&lt;理論レート差&gt; = 400 * log(&lt;勝率&gt; / (1 - &lt;勝率&gt;))</span>
</p>
<table id="game_type1_vs_type1_ideal_rating_diff" class="column-wise stats" summary="マッチ済み対戦結果のキャラ対キャラ別理論レート差表">
<tr>
	<th></th>
<%- type1.keys.sort.each do |type1_id| -%>
	<th><%= "#{h type1[type1_id].split(//u)[0]}" %></th>
<%- end -%>
</tr>
<%- type1.keys.sort.each do |type1_id| -%>
<tr>
	<th><%= "#{h type1[type1_id].split(//u)[0]}" %></th>
	<%- type1.keys.sort.each do |matched_type1_id| -%>
	<%- gtvts = game_type1_vs_type1_stats[type1_id][matched_type1_id] -%>
		<%- if gtvts.track_records_count.to_i != 0 && gtvts.ideal_rating_diff then -%>
	<td class="num"><%= "#{gtvts.ideal_rating_diff.round}" %></td>
		<%- else -%>
	<td class="num">-</td>
		<%- end -%>
	<%- end -%>
</tr>
<%- end -%>
</table>

</div>


</div>
</div>

<div id="side" class="tools tools_right">
	<%= link_internal_html %>
	<h2>リンク</h2>
	<%= link_html %>
</div>


<hr />

<div id="footer">
<%= footer_html %>
</div>

</div>

</body>
</html>

