<h2>Tenco! 統計情報</h2>
<%- games.keys.sort.reverse.each do |game_id| -%>
  <%- if games[game_id].is_show_stats.to_i == 1 -%>
<h3><%= h games[game_id].name %></h3>
<table id="game_<%= game_id.to_i %>_stat_summary" class="column-wise">
	<tr>
		<th>アカウント人数<sup>※</sup></th>
		<td class="num"><%= h game_stats[game_id].matched_accounts_count %> 名</td>
	</tr>
	<tr>
		<th>キャラ別総数<sup>※</sup></th>
		<td class="num"><%= h game_stats[game_id].matched_accounts_type1s_count %></td>
	</tr>
	<tr>
		<th>対戦結果数<sup>※</sup></th>
		<td class="num"><%= h game_stats[game_id].matched_track_records_count %></td>
	</tr>
	<tr>
		<th>報告対戦数（参考）</th>
		<td class="num"><%= h game_stats[game_id].track_records_count %></td>
	</tr>
</table>

<table id="game_<%= game_id.to_i %>_type1_stat_summary">
	<tr>
		<th>キャラクター</th>
		<th>人数</th>
		<th>対戦数</th>
		<th>勝率</th>
	</tr>
	<%- game_type1_stats[game_id].each do |gts| -%>
	<tr>
		<td><%= h game_type1s[game_id][gts.type1_id.to_i] %></td>
		<td class="num"><%= h gts.accounts_count %></td>
		<td class="num"><%= h gts.track_records_count %></td>
		<%- if gts.track_records_count.to_f != 0 -%>
		<td class="num"><%= h "#{((gts.wins.to_f / gts.track_records_count.to_f) * 1000.0).round / 10.0}%" %></td>
		<%- else -%>
		<td class="num">-</td>
		<%- end -%>
	</tr>
	<%- end -%>
</table>
  <%- end -%><%# if is_show_stats == 1 %>
<%- end -%>
<p class="suppli">
※ 報告マッチ済分のみ集計<br />
毎時53分頃集計
</p>