<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='ja' lang='ja'>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="shortcut icon" type="image/x-icon" href="<%= CFG[:static_url] %>favicon.ico" />
	<link rel="stylesheet" type="text/css" href="<%= CFG[:static_url] %>css/main.css" />	
	<link rel="stylesheet" type="text/css" href="<%= CFG[:static_url] %>css/2cols_side-width-fixed.css" />
	<title>Tenco! 東方非想天則／東方緋想天レーティング</title>
</head>
<body>
<div id="container">

<div id="header">
	<a href="<%= CFG[:top_url] %>"><img alt="Tenco!" src='<%= CFG[:static_url] %>images/Tenco.gif' width='366' height='126' /></a>
	<h1>Tenco! 東方非想天則／東方緋想天レーティング</h1>
</div>

<div id="main_wrapper">
<div id="main">

<div class="section">
	<h2>天則観報告ツール</h2>

	<p>
		<img alt="" src="<%= CFG[:static_url] %>client/images/suwako.ico" width="32" height="32" />
		<a href="<%= CFG[:static_url] %>client/tsk_report_v002.zip" style="font-weight:bold;font-size:110%;">天則観報告ツール Ver.0.02</a>
		（2009/10/15 <a href="<%= CFG[:static_url] %>client/tsk_report_history.txt">更新履歴</a>
		<a href="<%= CFG[:static_url] %>client/tsk_report_readme.txt">Readme.txt</a>）
	</p>
	<p>
	<a href="http://mint.s150.xrea.com/?%E5%A4%A9%E5%89%87%E8%A6%B3" target="_blank" style="font-weight:bold">天則観</a>の対戦結果を、Tenco! サーバーに報告するアプリです。<br />
	対戦結果を報告すると、非想天則の<a href="<%= CFG[:top_url] %>game/2/account/nanashi/" style="font-weight:bold">マイページ</a>が見られるようになります。<br />
	すでに緋行跡報告ツールを使っている方は、一度でもマッチングすれば、そのあと既存のマイページからリンクが貼られます。<br />
	<span class="suppli">（上記のリンク先は、nanashi@Tenco!企画・制作・運用担当のページです）</span>
	</p>

	<h2>インストール方法・使い方 - 天則観報告ツール</h2>
	<ol>
	<li>天則観のフォルダに、解凍してできたフォルダを<strong>フォルダごと</strong>移動します。<br />
		エクスプローラーで、下記画像のように見えていればOK<br />
		<a href="<%= CFG[:static_url] %>images/tsk_report_install_01.png"><img alt="tsk.exe や Default.db と、天則観報告ツールフォルダは同じ階層におきます" src="<%= CFG[:static_url] %>images/tsk_report_install_01.png"/></a></li>
	<li>あとは、tsk_report.exe を実行するだけです。黒窓が立ち上がります。<br />
	初回起動時のみ、サーバーへのアカウント登録またはアカウント設定が必要です。</li>
	</ol>
	<p>
	アップデートは、圧縮ファイルの中身をそのまま上書きしてしまえば完了です。<br />
	より詳しい情報は、<a href="<%= CFG[:static_url] %>client/tsk_report_readme.txt">Readme.txt</a> や東方 Tools Wiki の <a href="http://mint.s150.xrea.com/?%E5%A4%A9%E5%89%87%E8%A6%B3%E5%A0%B1%E5%91%8A%E3%83%84%E3%83%BC%E3%83%AB" target="_blank">天則観報告ツールのページ</a>に書いてありますので、ご一読願います。
	</p>
</div>

<div class="section">
	<h2>緋行跡報告ツール</h2>

	<p>
	<img alt="" src="<%= CFG[:static_url] %>client/images/tenco.ico" width="32" height="32" /> <a href="<%= CFG[:static_url] %>client/hks_report_v008.zip" style="font-weight:bold;font-size:110%;">緋行跡報告ツール Ver.0.08</a>（2009/10/15 <a href="<%= CFG[:static_url] %>client/hks_report_history.txt">更新履歴</a> <a href="<%= CFG[:static_url] %>client/hks_report_readme.txt">Readme.txt</a>）
	</p>
	<p>
	<a href="http://mint.s150.xrea.com/?%E7%B7%8B%E8%A1%8C%E8%B7%A1" target="_blank" style="font-weight:bold">緋行跡 (Rev.10** 系列)</a>の対戦結果を、Tenco! サーバーに報告するアプリです。<br />
	対戦結果を報告すると、緋想天の<a href="<%= CFG[:top_url] %>game/1/account/nanashi/" style="font-weight:bold">マイページ</a>が見られるようになります。<br />
	<span class="suppli">（上記のリンク先は、nanashi@Tenco!企画・制作・運用担当のページです）</span>
	</p>

	<h2>インストール方法・使い方 - 緋行跡報告ツール</h2>
	<ol>
	<li>緋行跡のフォルダに、解凍してできたフォルダを<strong>フォルダごと</strong>移動します。<br />
	エクスプローラーで、<a href="<%= CFG[:static_url] %>images/hks_report_install_01.png">この画像</a>のように見えていればOK。</li>
	<li>あとは、hks_report.exe を実行するだけです。黒窓が立ち上がります。<br />
	初回起動時のみ、サーバーへのアカウント登録が必要です。</li>
	</ol>
	<p>
	アップデートは、圧縮ファイルの中身をそのまま上書きしてしまえば完了です。<br />
	より詳しい情報は、<a href="<%= CFG[:static_url] %>client/hks_report_readme.txt">Readme.txt</a> や東方 Tools Wiki の <a href="http://mint.s150.xrea.com/?%E7%B7%8B%E8%A1%8C%E8%B7%A1%E5%A0%B1%E5%91%8A%E3%83%84%E3%83%BC%E3%83%AB%20Tenco%21" target="_blank">緋行跡報告ツールのページ</a>に書いてありますので、ご一読願います。
	</p>

	<h3>以前のバージョンをお使いの方へ</h3>
	<p class="suppli">
	Ver.0.07 より、デフォルトで緋行跡の全プロファイルの対戦結果を報告できます。<br />
	Ver.0.06 以前からのアップデートは「設定ファイル更新_全緋行跡プロファイル送信（Ver.0.07以上へのアップデート用）.bat」を実行してください。<br />
	設定アップデート後の報告では、一度だけ「全件報告モード」を使用しておくと、より確実に過去の全データを報告できます。
	</p>

	<h3>緋行跡のダウンロードミラー</h3>
	<p class="suppli">
	<a href="<%= CFG[:static_url] %>misc/th3_6493.zip" style="font-weight:bold">緋行跡 Rev.1008 Test</a><br />
	Coolier の <a href="http://coolier.sytes.net:8080/th_up3/file/th3_6493.zip">http://coolier.sytes.net:8080/th_up3/file/th3_6493.zip</a> と同一のファイルです。<br />
	上記の Coolier アップローダーから緋行跡が取得できない場合は、こちらからダウンロードできます。
	</p>
</div>

<div class="section">
<h2>Tenco! とは</h2>

<p>Tenco! は、ネット対戦ゲームのレーティング情報を提供するプロジェクトです。<br />
<strong>レーティングとは、「各プレイヤーの相対的な強さを表す数字」のことです。</strong>
</p>

<p>レーティング情報の提供は、以下の流れで実施します。</p>

<ol>
<li>対戦結果を各プレイヤーが Tenco! サーバーに報告</li>
<li>Tenco! サーバーがレーティングを計算</li>
<li>レーティング情報を各プレイヤー用のWebページに反映</li>
</ol>
<p>
この中で一番重要なのは、一番最初の Tenco! サーバーに各プレイヤーの対戦結果を集める部分です。<br />
プレイヤーのみんなの報告により、はじめて成立します。<br />
みなさまの対戦結果の報告をお待ちしております。
</p>
</div>

<div class="section">
<h2>プロジェクトの状況</h2>
<ul>
<li>報告：<strong>非想天則について対応済み！</strong></li>
<li>計算：<strong>'08/12/16レーティング計算Rev.3リリース！「グリコレーティング」になり、レート信頼度・適正レートへの収束速度が大幅改善！</strong>毎時0分ちょっと前に更新。</li>
<li>表示：<a href="<%= CFG[:top_url] %>game/2/account/nanashi/">開発版ページ</a>。マイページ開発中！</li>
<li>ドキュメント作成・QA：<a href="http://mint.s150.xrea.com/?%E7%B7%8B%E8%A1%8C%E8%B7%A1%E5%A0%B1%E5%91%8A%E3%83%84%E3%83%BC%E3%83%AB%20Tenco%21" target="_blank">東方 Tools Wiki</a> や <a href="http://jbbs.livedoor.jp/game/48698/">萃磨選堆の東方非想天則掲示板</a> のツールスレに多少の説明書きがあります</li>
</ul>
<p id="info_20091006">
	2009/10/15 01:00<br />
	<strong>告知：Tenco!のサイトのURLを段階的に変えます</strong>
</p>
●10/16の0時頃
<ol>
	<li>ウェブページのアドレスを <a href="http://tenco.info/">http://tenco.info/</a> に変更します</li>
	<li>報告ツールの送信できる相手に、 tenco.info を追加します</li>
	<li>tenco.info に対応した各報告ツールをリリース<strong>★報告ツールの最新版への更新を推奨します</strong></li>
</ol>
<p>	
	報告ツールはそのままでも報告できますが、11/23 には報告が出来なくなります。<br />
	（更新するかわりに、手動で env.yaml の3箇所ある tenco.xrea.jp を tenco.info にしてもOKです）<br />
	ウェブページは、元のアドレスからも、自動的に転送されるようにしておきますので、この段階では、特に意識する必要はありません。<br />
	リンク・ブックマークは、変えたほうがよいです。
</p>
●11月下旬頃（11/23（月）＝勤労感謝の日＝Tenco! 1周年の予定）★この日までに、報告ツールの更新が必須です
	<ol>
		<li>tenco.xrea.jp の廃止</li>
	</ol>
<p>
	今のレンタルサーバーの環境だといろいろと危なくなってきたので
	中身をいつでも移転できるように、URLを独自ドメインに変更します。
	なお、まだサーバーの場所は変わっていないので、特に動作は変わりありません。
</p>
	
<p id="info_20090815_1915">
	2009/08/15 19:15<br />
	★東方非想天則への対応について<br />
	サーバー側では、報告受付の対応完了済みです。画面間のリンクのみ、一部作業残ですが、すぐに終わる程度です。<br />
	クライアント側が、まだ対応できていません。<br />
	「緋行跡」にあたる戦績記録ツールができ次第（申し訳ないですがスキル的に他力本願）<br />
	対応させた報告ツールを配布し、東方非想天則への一次対応をいたします。
</p>
<p>
2009/03/16 04:50<br />
久しぶりに大型の更新です（書いていない細かいチューニングはかなりやってたのですが）。<br />
<a href="<%= CFG[:top_url] %>game/1/pov/2/" style="font-weight:bold">マッチングアカウント数のランキング</a>を追加しました<br />
１位の人が自分の倍近いです。すごい。
</p>
<p>
2009/01/15 02:20<br />
IE6 だと、大量の報告のあるページでも、重いけど固まりはしていないことを<br />
確認しました（Win2000Pro with VirtualPC で確認）。<br />
これなら、ページネーション開発は最優先じゃなくてもまだよさそうと判断。
</p>
<p>
ついでに、IE6 でもマイページの検索・復号スクリプトを動くようにしました。<br />
</p>
<p>
2009/01/14 01:20<br />
大量の対戦結果を報告してくださっている方のマイページを IE8 で開くと、<br />
軽くブラクラなことに気づいた。<span style="text-decoration:line-through;">なにこの見込みないブラウザ</span> いや、β版だから普通なんだけどさ。<br />
開くのも重いんだけど、タブ遷移しようとしたら、CPU使い切って10秒以上固まっちゃう。<br />
IE7以下でもそうなのであれば、さすがに対策が必要そうです……
</p>
<p>
2009/01/09 01:05<br />
マイページの未マッチの対戦相手について、プロファイル名を暗号化しました。<br />
セキュリティが理由です。だって、他の人のマイページ見て偽の戦績データ送ったら、マッチさせ放題なんだもん。<br />
<br />
そろそろブログとか日記とかを立てようかなぁと思いつつ、でも作ってしまうと更新しなきゃ……と重荷になってしまいそうなので迷っている今日この頃。
</p>
<p>
2008/12/26 23:45<br />
サーバー側のマッチング処理が異様に遅くなっていたので、DBに適当にインデックス張ってみました。<br />
250件報告した場合、従来は平均45秒かかってたのが、なんと３秒くらいになりました。びっくり。
</p>
<p>
2008/12/24 1:00<br />
緋行跡報告ツール Ver.0.07b をリリースしました。バグ修正リリースです。<br />
バグ報告して下さったユーザーさん、ありがとうございます！
</p>
<p>
2008/12/21 1:50<br />
緋行跡報告ツールですが、緋行跡 Rev.1* 系列への対応の見送りを決定しました。<br />
理由は、調べた結果、プロファイル名・タイムスタンプの取得を、Rev.1* 系列はしていないようなので。<br />
というか先に調べとけ＜自分
</p>
<p>
グリコレーティングが比較的、安定して動いているようで何よりです。<br />
レートが示す期待勝率と、実際の勝率差は、双方RD&lt;200だと、±2%以下にどのキャラの組み合わせも収まります。<br />
イロ・レーティングのころだと、±7%程度まで誤差がある組み合わせもあったので、かなりの改善です。
</p>
<p>
そろそろWebサイト側の拡張をと考えているのですが、熱があってろくにブレストできませんですた。<br />
頭痛いし、ましになったと思って起きたら夜8時だしー。<br />
年内には、いろいろ形にしてお見せしたいので、なんとか段取りをつけようと思います。
</p>
<p>
2008/12/14 2:40<br />
<strong>緋行跡報告ツール Ver.0.07a をリリース</strong>しました。バグフィックスリリースです。<br />
<br />
思ったよりだいぶ時間を使ってしまいました……。<br />
文字コード・ファイル名周りは複雑で嫌な感じです。
</p>
<p>
2008/12/13 1:10<br />
<strong>緋行跡報告ツール Ver.0.07 をリリース</strong>しました。<br />
全プロファイルをデフォルトで報告するようになったので、Defaultプロファイル以外を使っている人も設定変更不要になりました。<br />
緋行跡DBのフォルダそのものを変えてる方は、設定変更が必要ですけどね。<br />
<br />
今週は多忙で、平日にTenco!に割く時間をあまりもてませんでした。これからいろいろ妄想タイムです。
</p>
<p>
2008/12/08 0:05<br />
<a href="<%= CFG[:top_url] %>game/1/account/nanashi/" style="font-weight:bold">マイページ</a> を更新しました。
</p>
<ul>
	<li>右カラムのリンクをつけました。</li>
	<li>真ん中の装飾を少し変えました。</li>
</ul>
<p>
2008/12/07 0:45<br />
<strong>負荷対策もある程度終わったので、マイページの開発を再開しますー。</strong>
</p>
<p>
2008/12/07 0:30<br />
やっと、全CGIの高速化が終わりました！<br />
<strong>レーティングの計算を、１時間に１回に戻します</strong>（毎時57分に計算開始）。<br />
レーティング処理が６倍速程度、報告CGIが２～３倍速程度、アカウント取得CGIが５倍速程度で動くようにしました<br />
<br />
報告時のマッチング処理にまだ手を入れていないので、高速化の余地は残っています。<br />
ただ、CGI側の変更がかなり大きくなるので、また負荷が問題になったら実施します。<br />
<br />
以下、変更による効果の大きかった順
</p>
<ul>
<li>REXMLのXPATHでの取得を減らした（<a href="http://libxml.rubyforge.org/" target="_blank">やたら遅い……</a>）</li>
<li>全CGIを素の postgres モジュールで接続するようにした</li>
<li>報告CGIでマルチプルインサートに変更</li>
</ul>
<p>
2008/12/05 0:50<br />
最終登録対戦時間取得CGI（last_track_record.cgi）を実行時間5分の1～10分の1に高速化しました。<br />
ActiveRecord や rubygems を使わないで素の postgres モジュールで DB につなぐようしました。
</p>
<p>
2008/12/04 7:20<br />
マイページをキャッシュ化しました。毎時0分以降にアクセスすると再生成されます。<br />
キャッシュを使ったときの処理時間は、使わないときの30分の1以下になりました。<br />
あと require CGI しなくしました。重いらしいので。たしかに多少効果あり。<br />
</p>
<p>
2008/12/03 21:50<br />
<a href="<%= CFG[:static_url] %>images/20081202_workload.gif">各CGIの総実行時間EXCEL表画像</a><br />
負荷調査の結果、一番トータルで実行時間をとっているのはマイページ表示のようです。<br />
次に報告を受けるCGIの順でした。そーなのかー。
</p>
<p>
2008/12/01 5:30<br />
サーバーCPU負荷が超高くなっているので、対策急務です。<br />
まずは、Process.times による負荷計測をします。<br />
負荷しだいで、ActiveRecord の使用をやめたり（っていうか大半コレのせい？）、<br />
DBアクセス頻度を下げるため、マイページのキャッシュ化・報告頻度の抑制等行います。<br />
マイページの対戦結果表示件数を下げるかもしれません。
</p>
</div>

</div>
</div>

<div id="side" class="tools tools_right">
	<%= index_game_stats_html %>
	<h2>アカウントネットワーク図</h2>
	<p style="margin-left:10px;">
		<a href="<%= CFG[:static_url] %>misc/viz/20090807_network_whole.png"><img height="120" src="<%= CFG[:static_url] %>misc/viz/20090807_network_whole_mini.png" alt="アカウントネットワーク図" /></a>
		<a href="<%= CFG[:static_url] %>misc/viz/20090807_network_main.png"><img height="120" src="<%= CFG[:static_url] %>misc/viz/20090807_network_main_mini.png" alt="アカウントネットワーク図（拡大）" /></a>
	</p>
	<p class="suppli">
		左：全体図　右：中央拡大図<br />
		クリックで拡大（2009/8/7現在）<br />
	</p>
	<table class="column-wise suppli">
	<tr>
		<th>ノード数</th>
		<td class="num">2794</td>
	</tr>
	<tr>
		<th>エッジ数</th>
		<td class="num">63035</td>
	</tr>
	<tr>
		<th>平均次数</th>
		<td class="num">45.1</td>
	</tr>
	<tr>
		<th>次数分布の回帰式傾き</th>
		<td>-1.19</td>
	</tr>
	<tr>
		<th>平均ノード間最短距離</th>
		<td class="num">2.83</td>
	</tr>
	<tr>
		<th>クラスター係数</th>
		<td class="num">0.207</td>
	</tr>
	</table>
	<p style="margin-left:10px;" class="suppli">
		<a href="./misc/degree_distribution.png">次数分布グラフ</a>
	</p>
	<p class="suppli">（2009/8/7現在）</p>
	<p class="suppli">参考：<a href="http://ja.wikipedia.org/wiki/%E8%A4%87%E9%9B%91%E3%83%8D%E3%83%83%E3%83%88%E3%83%AF%E3%83%BC%E3%82%AF#.E7.8F.BE.E5.AE.9F.E4.B8.96.E7.95.8C.E3.81.AE.E3.83.8D.E3.83.83.E3.83.88.E3.83.AF.E3.83.BC.E3.82.AF.E3.81.AE.E6.80.A7.E8.B3.AA" target="_blank">Wikipedia: 複雑ネットワーク#現実世界のネットワークの性質</a></p>

</div>

<hr />

<div id="footer">
<%= footer_html %>
</div>

</div>

</body>
</html>

