<h2>プライズページ</h2>
<ul>
  <li><a href="<%= "#{CFG[:top_url]}game/#{game_id.to_i}/pov/1/" %>">レートランキング</a></li>
  <li><a href="<%= "#{CFG[:top_url]}game/#{game_id.to_i}/pov/2/" %>">レートランキング（キャラ別）</a></li>
  <li><a href="<%= "#{CFG[:top_url]}game/#{game_id.to_i}/pov/3/" %>">マッチ数ランキング</a></li>
</ul>
<h2>統計</h2>
<ul>
  <li><a href="<%= "#{CFG[:top_url]}game/#{game_id.to_i}/type1_stats/" %>">全キャラ統計（作成中）</a></li>
  <li><a href="<%= "#{CFG[:top_url]}game/#{game_id.to_i}/type1_vs_type1_stats/" %>">キャラ対キャラ統計</a></li>
</ul>
<h2>リプレイ</h2>
<ul>
  <li><a href="<%= "#{CFG[:top_url]}game/#{game_id.to_i}/replay/" %>">最新リプレイファイル</a></li>
</ul>
<h2>プレイヤータグ</h2>
<ul>
  <li><a href="<%= CFG[:top_url] %>tag/">タグ一覧</a></li>
</ul>
