	<h2 class="game_title" style="background: url(<%= CFG[:static_url] %>client/images/game_<%= game.id.to_i %>_32x32.ico) no-repeat scroll 0 0 transparent; padding-left: 38px"><%= h pov.name %> - <%= h game.name %></h2>
	<div class="section">
		<div class="menu">
			<ul id="type1_list">
			<%- prizes.each do |p| -%>
<li><a href="#<%= h "type1_#{p.type1_id.to_i}" %>"><img src="<%= "#{CFG[:static_url]}images/game/#{game_id.to_i}/game_#{game_id.to_i}_type1_#{p.type1_id.to_i}_list01.png" %>" alt="<%= h type1[p.type1_id.to_i] %>" width="45" height="135" /></a></li><%- end -%>
			</ul>
		</div>
	
		<%- prizes.each do |p| -%>
		<h3 id="<%= h "type1_#{p.type1_id.to_i}" %>"><%= h type1[p.type1_id.to_i] %></h3>
			<%- if ratings_each_type1[p.type1_id.to_i] -%>
		<table class="account <%= h "type1_#{p.type1_id.to_i}"%>">
			<thead>
				<tr>
					<th>順位</th>
					<th>名前</th>
					<th><span class="nowrap">レート<sub>±RD</sub></span> <span class="nowrap suppli">(対戦人数/対戦数)
					<th class="suppli">全体順位</th>
					<th class="suppli">レート－RD</th>
					<th class="suppli">クラスタ</th>
				</tr>
			</thead>
			<tbody>
				<%- pov_classes.each do |pc| -%>
					<%- if ratings_each_type1[p.type1_id.to_i][pc.value.to_i] -%>
						<%- ratings_each_type1[p.type1_id.to_i][pc.value.to_i].each do |r| -%>
							<%- if r.show_ratings_flag.to_i != 0 -%>
				<tr>
					<td><%= h r.game_each_type1_ratings_rank %></td>
					<td>
					<%- if data = account_twitter_data[r.account_id.to_i] -%>
						<%= icon_image_html(data.first) -%>
					<%- end -%>
					<a href="<%= "#{CFG[:top_url]}game/#{r.game_id.to_i}/account/#{u r.account_name}/" %>"><%= z2h_long_str(xhtml_sp2nbsp(h(hide_ng_words(r.rep_name)))) %></a>
					</td>
					<td><span class="nowrap"><%= "#{h r.rating.to_f.round}<sub>±#{h r.ratings_deviation.to_f.floor}</sub></span> <span class=\"nowrap suppli\">(#{h r.matched_accounts}人/#{h r.match_counts}戦)" %></span></td>
					<td class="suppli">#<%= h r.game_type1_ratings_rank %></td>
					<td class="suppli"><%= h((r.rating.to_f - r.ratings_deviation.to_f).round) %></td>
					<td class="suppli"><%= h r.cluster_name %></td>
				</tr>
							<%- end -%>
						<%- end -%>
					<%- end -%>
				<%- end -%>
			</tbody>
		</table>
			<%- else -%>
		<p>プライズ達成条件を満たすプレイヤーなし</p>
			<%- end -%>
		<%- end -%>
	</div>