
	<h2><%= h game_pov.name %></h2>
	<%- game_pov_classes.each do |gpc| -%>
	<%- if ratings[gpc.value.to_i] -%>
	<h3><%= h gpc.name %></h3>
	<table class="account">
		<thead>
			<tr>
				<th>順位</th>
				<th>名前</th>
				<th>キャラクター</th>
				<th>レート<sub>±RD</sub>（対戦人数/対戦数）</th>
				<th class="suppli">クラスタ</th>
			</tr>
		</thead>
		<tbody>
			<%- ratings[gpc.value.to_i].each do |r| -%>
				<%- if r.show_ratings_flag.to_i != 0 -%>
			<tr>
				<td><%= h r.game_type1_ratings_rank %></td>
				<td><a href="<%= "#{TOP_URL}game/#{u r.game_id}/account/#{u r.account_name}/" %>"><%= z2h_long_str(xhtml_sp2nbsp(h(hide_ng_words(r.rep_name)))) %></a></td>
				<td><%= h "#{type1[r.type1_id.to_i]}" %></td>
				<td><%= "#{h r.rating.to_f.round}<sub>±#{h r.ratings_deviation.to_f.floor}</sub>（#{h r.matched_accounts}人/#{h r.match_counts}戦）" %></td>
				<td class="suppli"><%= h r.cluster_name %></td>
			</tr>
				<%- end -%>
			<%- end -%>
		</tbody>
	</table>
	<%- else -%>
	<%- end -%>
	<%- end -%>
