
	<h2><%= h game_pov.name %></h2>
	<div class="section">
		<div class="menu">
			<ul id="type1_list">
			<%- type1.keys.sort.each do |type1_id| -%>
				<%- if ratings_each_type1[type1_id] -%>
<li><a href="#<%= h "type1_#{type1_id.to_i}" %>"><img src="<%= "#{TOP_URL}images/game/#{game_id.to_i}/game_#{game_id.to_i}_type1_#{type1_id.to_i}_list01.png" %>" alt="<%= h type1[type1_id.to_i] %>" width="45" height="135" /></a></li><%- end -%><%- end -%>
		
			</ul>
		</div>
	
		<%- type1.keys.sort.each do |type1_id| -%>
			<%- if ratings_each_type1[type1_id] -%>
		<h3 id="<%= h "type1_#{type1_id.to_i}" %>"><%= h type1[type1_id.to_i] %></h3>
		<table class="account <%= h "type1_#{type1_id.to_i}"%>">
			<thead>
				<tr>
					<th>順位</th>
					<th>名前</th>
					<th>レート<sub>±RD</sub>（対戦人数/対戦数）</th>
					<th class="suppli">全体順位</th>
					<th class="suppli">クラスタ</th>
				</tr>
			</thead>
			<tbody>
				<%- game_pov_classes.each do |gpc| -%>
					<%- if ratings_each_type1[type1_id.to_i][gpc.value.to_i] -%>
						<%- ratings_each_type1[type1_id.to_i][gpc.value.to_i].each do |r| -%>
							<%- if r.show_ratings_flag.to_i != 0 -%>
				<tr>
					<td><%= h r.game_each_type1_ratings_rank %></td>
					<td><a href="<%= "#{TOP_URL}game/#{r.game_id.to_i}/account/#{u r.account_name}/" %>"><%= z2h_long_str(xhtml_sp2nbsp(h(hide_ng_words(r.rep_name)))) %></a></td>
					<td><%= "#{h r.rating.to_f.round}<sub>±#{h r.ratings_deviation.to_f.floor}</sub>（#{h r.matched_accounts}人/#{h r.match_counts}戦）" %></td>
					<td class="suppli">#<%= h r.game_type1_ratings_rank %></td>
					<td class="suppli"><%= h r.cluster_name %></td>
				</tr>
							<%- end -%>
						<%- end -%>
					<%- end -%>
				<%- end -%>
			</tbody>
		</table>
			<%- end -%>
		<%- end -%>
	</div>