
	<h2 class="game_title" style="background: url(<%= CFG[:static_url] %>client/images/game_<%= game.id.to_i %>_32x32.ico) no-repeat scroll 0 0 transparent; padding-left: 38px"><%= h pov.name %> - <%= h game.name %></h2>
	<%- pov_classes.each do |pc| -%>
	<%- if ratings[pc.value.to_i] -%>
	<h3><%= h pc.name %></h3>
	<table class="account">
		<thead>
			<tr>
				<th>順位</th>
				<th>名前</th>
				<th>キャラクター</th>
				<th><span class="nowrap">レート<sub>±RD</sub></span> <span class="nowrap suppli">(対戦人数/対戦数)</span></th>
				<th class="suppli">レート－RD</th>
				<th class="suppli">クラスタ</th>
			</tr>
		</thead>
		<%- type1.each do |t| -%>
		<%- end -%>
		<tbody>
			<%- ratings[pc.value.to_i].each do |r| -%>
				<%- if r.show_ratings_flag.to_i != 0 -%>
			<tr>
				<td><%= h r.game_type1_ratings_rank %></td>
				<td>
					<%- if data = account_twitter_data[r.account_id.to_i] -%>
						<%= icon_image_html(data.first) -%>
					<%- end -%>
					<a href="<%= "#{CFG[:top_url]}game/#{r.game_id.to_i}/account/#{u r.account_name}/" %>"><%= z2h_long_str(xhtml_sp2nbsp(h(hide_ng_words(r.rep_name)))) %></a>
				</td>
				<td><img src="<%= "#{CFG[:static_url]}images/game/#{r.game_id.to_i}/game_#{r.game_id.to_i}_type1_#{r.type1_id.to_i}_icon01.png" %>" alt="" width="20" height="20" /> <%= "#{h type1[r.type1_id.to_i]}" %></td>
				<td><span class="nowrap"><%= "#{h r.rating.to_f.round}<sub>±#{h r.ratings_deviation.to_f.floor}</sub></span> <span class=\"nowrap suppli\">(#{h r.matched_accounts}人/#{h r.match_counts}戦)" %></span></td>
				<td class="suppli"><%= h((r.rating.to_f - r.ratings_deviation.to_f).round) %></td>
				<td class="suppli"><%= h r.cluster_name %></td>
			</tr>
				<%- end -%>
			<%- end -%>
		</tbody>
	</table>
	<%- else -%>
	<%- end -%>
	<%- end -%>
