<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='ja' lang='ja'>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<link rel="shortcut icon" type="image/x-icon" href="<%= CFG[:static_url] %>favicon.ico" />
	<link rel="stylesheet" type="text/css" href="<%= CFG[:static_url] %>css/main.css" />
	<link rel="stylesheet" type="text/css" href="<%= CFG[:static_url] %>css/3cols_sides-width-fixed.css" />
	<title><%= h pov.name %> / <%= h game.name %> - Tenco!</title>
</head>
<body>

<div id="container">

<div id="header">
<h1><a href="<%= CFG[:top_url] %>"><img alt="Tenco!" src='<%= CFG[:static_url] %>images/Tenco.gif' width='<%= 366/3 %>' height='<%= 126/3 %>' /></a></h1> プライズ達成を褒め称えるページ（仮）α4（2012/10/24）

<p id="meta_info" style="text-align:right">
<%= now.strftime('%m/%d %H:%M') %> に作成（毎時0分以降に再生成）<br />
順位を（レート値）－（RD値）を基準にしてみるテスト中です。（2013/7/30）<br />
ランダムのランキングのRD上限値を225にしてみるテスト中です。（2013/7/30）
</p>
</div>
<%#
<div class="menu">
<ul>
	<li><a href=""></a></li>
</ul>
</div>
-%>
